@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-feature-settings: "rlig" 1, "calt" 1, "ss01" 1, "ss06" 1 !important;
}

[data-reach-skip-link] {
  @apply sr-only;
}

[data-reach-skip-link]:focus {
  @apply fixed top-0 z-50 px-6 py-2 mt-2 ml-6 text-lg bg-white outline-none not-sr-only focus:ring;
}

.dark .invert-on-dark {
  filter: invert(1) brightness(1.8);
}

body {
  /*background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 300px
    ),
    fixed 0 0 / 20px 20px radial-gradient(#d1d1d1 1px, transparent 0),
    fixed 10px 10px / 20px 20px radial-gradient(#d1d1d1 1px, transparent 0);*/
}

.dark body {
  /*background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #111 300px),
    fixed 0 0 / 20px 20px radial-gradient(#313131 1px, transparent 0),
    fixed 10px 10px / 20px 20px radial-gradient(#313131 1px, transparent 0);*/
}

main {
  max-width: 68rem !important;
}

article ul {
  margin-top: 0.5rem !important;
}

td {
  vertical-align: baseline;
  a {
    @apply no-underline;
  }
}

.items-center {
  h1,h2,h3 {
    margin-top: unset;
  }
}

div {
  h2 {
    border-bottom-width: 0 !important;
  }
}

.callout {
  div {
    max-width: 95%;
    h3 {
      margin-top: 1rem;
    }
  }
}

.code-block {
  background-color: rgb(241 245 249/var(--tw-bg-opacity)) !important;
  padding: 1rem !important;
}

.dark .code-block {
  background-color: rgb(147 197 253/var(--tw-bg-opacity)) !important;
  --tw-bg-opacity: 0.1;
  color: var(--shiki-color-text) !important;
}

a {
  text-decoration-line: none !important;
}