name: Check internal dependencies up-to-date

on:
  pull_request:
    branches:
      - main

jobs:
  check-internal-deps-up-to-date:
    runs-on: ubuntu-22.04
    steps:
      - name: Setup Golang with cache
        uses: magnetikonline/action-golang-cache@401702e21cff5562276de84c15d7b083bc22e79f # v2
        with:
          go-version: 1.24

      - name: Checkout code
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4

      - name: Update internal dependencies
        run: |
          go get -u github.com/axelarnetwork/utils@latest
          go get -u github.com/axelarnetwork/tm-events@latest

      - name: Check for changes
        run: |
          if [ -n "$(git status --porcelain)" ]; then
            echo Following files are changed...
            git status

            echo Changes:
            git diff

            exit 1;
          else
            exit 0;
          fi
