# Verifies that go generate output (mocks, stringer, etc.) is up-to-date and code is formatted.
name: "CI: Check go generate"

on:
  - pull_request

jobs:
  check-go-generate-up-to-date:
    runs-on: ubuntu-22.04
    steps:
      - name: Setup Golang with cache
        uses: magnetikonline/action-golang-cache@401702e21cff5562276de84c15d7b083bc22e79f # v2
        with:
          go-version: 1.25

      - name: Install Python
        uses: actions/setup-python@3542bca2639a428e1796aaa6a2ffef0c0f575566 # v3

      - name: Cache Python
        uses: actions/cache@2f8e54208210a422b2efd51efaa6bd6d7ca8920f # v3
        with:
          path: ~/.cache/pip
          key: pip-cache

      - name: Checkout code
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Get Bytecode Version
        id: bytecode_version
        run: echo ::set-output name=VERSION::$(cat contract-version.json | jq -r '.gateway')

      - name: Download Gateway Bytecode
        run : |
          wget "https://github.com/axelarnetwork/axelar-cgp-solidity/releases/download/${{ steps.bytecode_version.outputs.VERSION }}/Bytecode-${{ steps.bytecode_version.outputs.VERSION }}.zip"

      - name: Create folder contract-artifacts
        run : |
          [ ! -d contract-artifacts ] && mkdir contract-artifacts

      - name: Unzip Bytecode
        run : |
          unzip Bytecode-${{ steps.bytecode_version.outputs.VERSION }}.zip  -d ./contract-artifacts
          rm Bytecode-${{ steps.bytecode_version.outputs.VERSION }}.zip

      - name: Install prereqs
        run: |
          go install golang.org/x/tools/cmd/goimports@v0.38.0
          go install golang.org/x/tools/cmd/stringer@v0.38.0
          go install github.com/matryer/moq
          pip3 install mdformat

      - name: Run go generate
        run: make generate

      - name: Run goimports
        run: make goimports

      - name: Check for changes
        run: |
          if [ -n "$(git status --porcelain)" ]; then
            echo Following files are changed...
            git status

            echo Changes:
            git diff

            exit 1;
          else
            exit 0;
          fi
