name: Linting

on:
  - pull_request

jobs:
  lint:
    runs-on: ubuntu-22.04
    steps:
      - name: Setup Golang with cache
        uses: magnetikonline/action-golang-cache@401702e21cff5562276de84c15d7b083bc22e79f # v2
        with:
          go-version: 1.23

      - name: Checkout code
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba490695 # v4

      - name: Install golangci-lint
        run: make prereqs

      - name: Go Lint
        run: make lint

      - name: Proto lint
        run: make proto-lint
