name: Linting

on:
  - pull_request

jobs:
  lint:
    strategy:
      matrix:
        go-version:
          - 1.19
        os:
          - ubuntu-18.04
    runs-on: ${{ matrix.os }}
    steps:
      - name: Setup Golang with cache
        uses: magnetikonline/action-golang-cache@v2
        with:
          go-version: ${{ matrix.go-version }}

      - name: Install golint
        run: go install golang.org/x/lint/golint@latest

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Golint
        run: make lint

      - name: Proto-lint
        run: make proto-lint
