name: Release

on:
  workflow_dispatch:
    inputs:
      bumpType:
        description: Semver bump type to use ("major"/"minor"/"patch")
        required: true
        default: patch

jobs:
  release:
    strategy:
      matrix:
        os:
          - ubuntu-18.04
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: '0'

      - id: release
        uses: anothrNick/github-tag-action@1.26.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DEFAULT_BUMP: ${{ github.event.inputs.bumpType }}
          TAG_CONTEXT: branch
          RELEASE_BRANCHES: main,releases.*
          WITH_V: true
          DRY_RUN: true

      - id: parsed-release
        uses: booxmedialtd/ws-action-parse-semver@v1
        with:
          input_string: ${{ steps.release.outputs.tag }}

      - name: Generate release
        run: |
          new_release_branch=""

          if [ "${{ github.ref }}" = "refs/heads/main" ]; then
            if [ "${{ github.event.inputs.bumpType }}" = "major" ]; then
              let new_major=${{ steps.parsed-release.outputs.major }}+1
              new_release_branch="releases/$new_major.0.x"
            elif [ "${{ github.event.inputs.bumpType }}" = "minor" ]; then
              let new_minor=${{ steps.parsed-release.outputs.minor }}+1
              new_release_branch="releases/${{ steps.parsed-release.outputs.major }}.$new_minor.x"
            else
              echo "cannot make patch release from main branch"
              exit 1
            fi
          elif [[ "${{ github.ref }}" = refs/heads/releases/* ]]; then
            if [ "${{ github.event.inputs.bumpType }}" != "patch" ]; then
              echo "cannot make major/minor release from release branch"
              exit 1
            fi
          else
            echo "can only release from main or releases/* branches"
            exit 1
          fi

          git config --global user.email "cicd@axelar.network"
          git config --global user.name "axelar-cicd-bot"

          git commit --allow-empty -m "${{ steps.release.outputs.new_tag }}"
          git push

          if [ -n "$new_release_branch" ]; then
            git checkout -b $new_release_branch
            git push -u origin $new_release_branch
          fi

      - name: Bump version and push tag
        uses: anothrNick/github-tag-action@1.26.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DEFAULT_BUMP: ${{ github.event.inputs.bumpType }}
          TAG_CONTEXT: branch
          RELEASE_BRANCHES: main,releases.*
          WITH_V: true

      - name: Set up ssh agent
        uses: webfactory/ssh-agent@v0.5.2
        with:
          ssh-private-key: ${{ secrets.CICD_RSA_KEY }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Build and push docker image for all platforms
        run: |
          make build-push-docker-images
        env:
          SEMVER: ${{ steps.release.outputs.new_tag }}

      - name: Build Binaries for Linux/MacOS
        env:
          SEMVER: ${{ steps.release.outputs.new_tag }}
        run: |
          make build-binaries-in-docker

      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ./bin/*
          tag: ${{ steps.release.outputs.new_tag }}
          overwrite: true
          file_glob: true

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2

      - name: Upload binaries to S3
        env:
          S3_PATH: s3://axelar-releases/axelard/${{ steps.release.outputs.new_tag }}
        run: |
          make upload-binaries-to-s3
