name: Take testnet snapshot

on:
  workflow_dispatch:
    inputs:
      axelard_version:
        description: Axelar testnet snapshot label (format vX.X.X)
        required: true

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-region: us-east-2
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/ghwf-${{ github.event.repository.name }}

      - name: Validate tag
        env:
          SEMVER: ${{ github.event.inputs.axelard_version }}
        run: |
          if [[ $SEMVER =~ v[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3} ]]; then echo "Tag is okay" && exit 0; else echo "invalid tag" && exit 1; fi
          aws s3 ls s3://axelar-testnet-snapshots/axelartestnet-${{ github.event.inputs.axelard_version }}.tar.lz4 && echo "tag already exists, use a new one" && exit 1
          
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: '0'
          submodules: recursive

      - name: Copy snapshot to s3://axelar-testnet-snapshots/axelartestnet-${{ github.event.inputs.axelard_version }}.tar.lz4
        run: |
          URL=`curl https://quicksync.io/axelar.json|jq -r '.[] |select(.file=="axelartestnet-lisbon-3-pruned")|.url'`
          curl "$URL" | aws s3 cp - s3://axelar-testnet-snapshots/axelartestnet-${{ github.event.inputs.axelard_version }}.tar.lz4 
