name: Testing

on:
  - pull_request

jobs:
  test:
    strategy:
      matrix:
        go-version:
          - 1.16.x
        os:
          - ubuntu-18.04
    runs-on: ${{ matrix.os }}
    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}

      - name: Install SSH key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.CICD_RSA_KEY }}
          known_hosts: ${{ secrets.KNOWN_HOSTS_GITHUB }}

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Test
        run: |
          git config --global url."git@github.com:axelarnetwork".insteadOf https://github.com/axelarnetwork

          go test ./...
