name: Testing and coverage

on:
  pull_request:
  push:
    branches:
      - main
      - releases/**

jobs:
  test:
    strategy:
      matrix:
        go-version:
          - 1.21
        os:
          - ubuntu-20.04
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Golang with cache
        uses: magnetikonline/action-golang-cache@v4
        with:
          go-version: ${{ matrix.go-version }}

      - name: Run test and coverage
        run: |
          go test ./... -race -coverprofile=coverage.txt -covermode=atomic
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4-beta
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }} 
